<a href="https://colab.research.google.com/github/EmanSalah2000/TFIDF_fromscratch/blob/main/Assignment_1NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import re
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
import pandas as pd

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Eman\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
def preprocessing(doc):
       
    lemmatizer = WordNetLemmatizer()
    doc=re.sub(r"[-–,.%')(&|!@#$^*?=_+<>\d]", '', doc)

    words=""
    for word in doc.split():
        word=lemmatizer.lemmatize(word)
        words=words+word+" "
    doc=words
    
    doc=doc.lower()
    return doc

In [ ]:
def count (document,word):
    occurence=0
    for w in document.split():
#         print(w,word,w==word)
        if w==word:
            occurence=occurence+1  
    return occurence

In [ ]:
def tfidf_train(doc,doc_1,doc_2):
    table=np.zeros([len(unique_words),7])
    for i in range(len(unique_words)):
        table[i][0]=count(doc_1,unique_words[i])
        table[i][1]=count(doc_2,unique_words[i])
        table[i][2]=table[i][0]/len(doc_1.split())
        table[i][3]=table[i][1]/len(doc_2.split())
        ct=0
        if table[i][0]>0:
            ct+=1
        if table[i][1]>0:
            ct+=1
        table[i][4]=np.log10(2/(ct))
        table[i][5]=table[i][2]*table[i][4]
        table[i][6]=table[i][3]*table[i][4]
    return table



def tfidf_test(doc,unique_words,table):
    table_test=np.zeros([len(unique_words),3])
    for i in range(len(unique_words)):
        table_test[i][0]=count(doc,unique_words[i])
        table_test[i][1]=table_test[i][0]/len(doc.split())
        table_test[i][2]=table[i][4]*table_test[i][1]
    return table_test

In [ ]:
doc_1="Microsoft Windows , commonly referred to as Windows , is a group of several proprietary graphical operating system families , all of which are developed and marketed by Microsoft. is a family of open-source Unix-like operating systems based on the Linux kernel , an operating system kernel first released on September 17 , 1991 , by Linus Torvalds.Linux is typically packaged in a Linux distribution.is a family of multitasking, multiuser computer operating systems that derive from the original AT&T Unix, whose development started in 1969 at the Bell Labs research center by Ken Thompson, Dennis Ritchie, and others"
doc_2="Corona viruses are a group of related RNA viruses that cause diseases in mammals and birds. In humans and birds , they cause respiratory tract infections that can range from mild to lethal. Avian influenza, known informally as avian flu or bird flu, is a variety of influenza caused by viruses adapted to birds. Alzheimer's disease (AD) is a neurodegenerative disease that usually starts slowly and progressively worsens. It is the cause of 60–70% of cases of dementia."

# doc_1="computer is a great device"
# doc_2="Ahmed is a great person"

# doc_1="windows is an operating system"
# doc_2="covid19 is a serious disease"

In [ ]:
doc_1=preprocessing(doc_1)
doc_2=preprocessing(doc_2)
all_document=doc_1+doc_2

print(all_document)
unique_words =list(set(all_document.split()))

microsoft windows commonly referred to a windows is a group of several proprietary graphical operating system family all of which are developed and marketed by microsoft is a family of opensource unixlike operating system based on the linux kernel an operating system kernel first released on september by linus torvaldslinux is typically packaged in a linux distributionis a family of multitasking multiuser computer operating system that derive from the original att unix whose development started in at the bell labs research center by ken thompson dennis ritchie and others corona virus are a group of related rna virus that cause disease in mammal and bird in human and bird they cause respiratory tract infection that can range from mild to lethal avian influenza known informally a avian flu or bird flu is a variety of influenza caused by virus adapted to bird alzheimers disease ad is a neurodegenerative disease that usually start slowly and progressively worsens it is the cause of of case of dementia

In [ ]:
tfidf_table=tfidf_train(all_document,doc_1,doc_2)

In [ ]:
table_train=pd.DataFrame(tfidf_table)
table_train.columns=['count_doc_1','count_doc_2','TF1','TF2','IDF','TFIDF1','TFIDF2']
table_train.index=unique_words
table_train.shape
table_train.sort_values('IDF')

,count_doc_1,count_doc_2,TF1,TF2,IDF,TFIDF1,TFIDF2
that,1.0,3.0,0.011236,0.039474,0.00000,0.000000,0.000000
to,1.0,2.0,0.011236,0.026316,0.00000,0.000000,0.000000
by,3.0,1.0,0.033708,0.013158,0.00000,0.000000,0.000000
of,4.0,5.0,0.044944,0.065789,0.00000,0.000000,0.000000
in,2.0,2.0,0.022472,0.026316,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...
developed,1.0,0.0,0.011236,0.000000,0.30103,0.003382,0.000000
research,1.0,0.0,0.011236,0.000000,0.30103,0.003382,0.000000
they,0.0,1.0,0.000000,0.013158,0.30103,0.000000,0.003961
released,1.0,0.0,0.011236,0.000000,0.30103,0.003382,0.000000
microsoft,2.0,0.0,0.022472,0.000000,0.30103,0.006765,0.000000

In [ ]:
doc_3="previously Mac OS X and later OS X is a proprietary gratinf phical operating system developed and marketed by Apple Inc"
# doc_3="android is an operating system"
# doc_3=" humans and birds infected with virus c and  it is very dangrous disease"
doc_3=preprocessing(doc_3)
tfidf_table=tfidf_test(doc_3,unique_words,np.array(table_train))
table_test=pd.DataFrame(tfidf_table)
table_test.columns=['count_doc','TF','TFIDF']
table_test.index=unique_words
table_test.shape
table_test

             count_doc        TF     TFIDF
proprietary        1.0  0.047619  0.014335
dementia           0.0  0.000000  0.000000
can                0.0  0.000000  0.000000
group              0.0  0.000000  0.000000
and                2.0  0.095238  0.000000
...                ...       ...       ...
first              0.0  0.000000  0.000000
from               0.0  0.000000  0.000000
bell               0.0  0.000000  0.000000
whose              0.0  0.000000  0.000000
microsoft          0.0  0.000000  0.000000

[98 rows x 3 columns]

In [ ]:
from numpy.linalg import norm
print(len(table_train['TFIDF1']),len(table_test['TFIDF']))
dist = np.linalg.norm(table_train['TFIDF1'] - table_test['TFIDF'])
print(dist)

98 98
0.03358074258697058

In [ ]:
print(len(table_train['TFIDF2']),len(table_test['TFIDF']))
dist = np.linalg.norm(table_train['TFIDF2'] - table_test['TFIDF'])
print(dist)

98 98
0.04858994804541821

In [ ]:
from scipy import spatial
print(1 - spatial.distance.cosine(table_train['TFIDF1'], table_test['TFIDF']))
print(1 - spatial.distance.cosine(table_train['TFIDF2'], table_test['TFIDF']))

0.4870881870470525
0.0